body {
  font-size: 1vw;
}
.heading {
  padding: 2rem;
  margin: 2rem;
}
.symbol {
  text-align: center;
  font-weight: bold;
  font-size: 1.8vw;
  color: blue;
}

.periodic-table {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(18, 4.8vw);
  grid-template-rows: repeat(10, 4.8vw);
  position: absolute;
  grid-column-gap: 0.1vw;
  grid-row-gap: 0.1vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5rem;
}

.element {
  border-style: groove;
  padding: 0.5vw;
  overflow: none;
  border-radius: 0.2vw;
  text-align: left;
}

.name {
  text-align: center;
  font-size: 1vw;
}
.number {
  text-align: left;
  font-size: 0.9vw;
  font-weight: bold;
}

/* @media only screen and (max-width: 800px) {
  .number {
    visibility: hidden;
  }
} */

.nav {
  text-align: center;
}
