/* html,
body {
  background-color: #252839 !important;
}
p {
  align-content: center;
  background-color: #495285;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6em;
}
p > span {
  opacity: 0.4;
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 64px);
  grid-template-rows: repeat(7, 64px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
